body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  width: 300px;
  padding: 30px;
  margin: 100px auto;
  background-color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: rgb(21, 202, 222);
}

input {
  border: 1px solid rgb(57, 57, 57);
  width: 100%;
  height: 30px;
  background-color: #ffffff;
}
input:focus{
    outline: none;
    
}
button {
    width: 100%;
  background: linear-gradient(
    to right,
    rgb(0, 229, 255),
    rgb(170, 115, 208),
    rgb(202, 0, 252)
  );
  border: none;
  height: 30px;
  color: #f4f4f4;
  font-weight: 900;
}
